# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Ignore built files for Next.js

out/
.next
build
next-env.d.ts

# Ignore node_modules directory
node_modules/
node_modules
# Ignore .env files containing sensitive information
.env*.local

.vscode
.env
bin
.bin
tmp/
.DS_Store
.vercel

.parcel-cache
*.exe
*.exe~
*.dll
*.so
*.dylib
next-env.d.ts


# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
/vendor/

# Go workspace file
go.work
go.work.sum

